In [113]:
import pandas as pd
import numpy as nb
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import streamlit as st

In [114]:
data=pd.read_csv('C:/Users/vanna/OneDrive - Royal School of Administration/Desktop/Program Data Science/Program_Car_Sale.csv')
data.head(10)

,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,16.919,16.360,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,39.384,19.875,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,14.114,18.225,NaN,3.2,225,106.9,70.6,192.0,3.470,17.2,26.0,NaN
3,8.588,29.725,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,20.397,22.255,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
5,18.780,23.555,33.95,2.8,200,108.7,76.1,192.0,3.561,18.5,22.0,84.565105
6,1.380,39.000,62.00,4.2,310,113.0,74.0,198.2,3.902,23.7,21.0,134.656858
7,19.747,NaN,26.99,2.5,170,107.3,68.4,176.0,3.179,16.6,26.0,71.191207
8,9.231,28.675,33.40,2.8,193,107.3,68.5,176.0,3.197,16.6,24.0,81.877069
9,17.527,36.125,38.90,2.8,193,111.4,70.9,188.0,3.472,18.5,25.0,83.998724

In [115]:
### Filtering the rows that has a value in the column - Sales_in_thousands

modified_dataset = data[data['Sales_in_thousands'].notna()]
# modified_dataset

In [116]:
### Looking at the missing values in the dataset

modified_dataset.isnull().sum().sort_values(ascending = False)

four_year_resale_value    36
Fuel_efficiency            2
Price_in_thousands         1
Curb_weight                1
Power_perf_factor          1
Sales_in_thousands         0
Engine_size                0
Horsepower                 0
Wheelbase                  0
Width                      0
Length                     0
Fuel_capacity              0
dtype: int64

In [117]:
### Replacing the missing values in the column - __year_resale_value using median

year_index = list(~modified_dataset['four_year_resale_value'].isnull())
median_year = np.median(modified_dataset['four_year_resale_value'].loc[year_index])
# median_year

### Replacing the missing values of the column - __year_resale_value in the dataset

modified_dataset['four_year_resale_value'].fillna(median_year, inplace = True)

In [118]:
### Replacing the missing values in the column - __year_resale_value using median

year_index = list(~modified_dataset['Fuel_efficiency'].isnull())
median_year = np.median(modified_dataset['Fuel_efficiency'].loc[year_index])
# median_year

### Replacing the missing values of the column - __year_resale_value in the dataset

modified_dataset['Fuel_efficiency'].fillna(median_year, inplace = True)

In [119]:
### Replacing the missing values in the column - __year_resale_value using median

year_index = list(~modified_dataset['Price_in_thousands'].isnull())
median_year = np.median(modified_dataset['Price_in_thousands'].loc[year_index])
# median_year

### Replacing the missing values of the column - __year_resale_value in the dataset

modified_dataset['Price_in_thousands'].fillna(median_year, inplace = True)

In [120]:
### Replacing the missing values in the column - __year_resale_value using median

year_index = list(~modified_dataset['Curb_weight'].isnull())
median_year = np.median(modified_dataset['Curb_weight'].loc[year_index])
# median_year

### Replacing the missing values of the column - __year_resale_value in the dataset

modified_dataset['Curb_weight'].fillna(median_year, inplace = True)

In [121]:
### Replacing the missing values in the column - __year_resale_value using median

year_index = list(~modified_dataset['Power_perf_factor'].isnull())
median_year = np.median(modified_dataset['Power_perf_factor'].loc[year_index])
# median_year

### Replacing the missing values of the column - __year_resale_value in the dataset

modified_dataset['Power_perf_factor'].fillna(median_year, inplace = True)

In [122]:

modified_dataset.isnull().sum().sort_values(ascending = False)

Sales_in_thousands        0
four_year_resale_value    0
Price_in_thousands        0
Engine_size               0
Horsepower                0
Wheelbase                 0
Width                     0
Length                    0
Curb_weight               0
Fuel_capacity             0
Fuel_efficiency           0
Power_perf_factor         0
dtype: int64

In [123]:
modified_dataset.corr()

,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
Sales_in_thousands,1.000000,-0.238007,-0.303133,0.019983,-0.197756,0.358179,0.140918,0.254980,0.008820,0.086540,-0.016676,-0.222253
four_year_resale_value,-0.238007,1.000000,0.783764,0.462200,0.669684,-0.050170,0.165798,0.038222,0.268326,0.260053,-0.334271,0.712992
Price_in_thousands,-0.303133,0.783764,1.000000,0.626356,0.836747,0.110634,0.329330,0.156105,0.522829,0.423491,-0.492505,0.897945
Engine_size,0.019983,0.462200,0.626356,1.000000,0.837360,0.472130,0.690398,0.541424,0.754115,0.663022,-0.733896,0.818204
Horsepower,-0.197756,0.669684,0.836747,0.837360,1.000000,0.286308,0.539158,0.393364,0.604638,0.499907,-0.610454,0.990448
Wheelbase,0.358179,-0.050170,0.110634,0.472130,0.286308,1.000000,0.683135,0.839639,0.649976,0.654044,-0.496801,0.258913
Width,0.140918,0.165798,0.329330,0.690398,0.539158,0.683135,1.000000,0.710435,0.717590,0.656302,-0.599049,0.512122
Length,0.254980,0.038222,0.156105,0.541424,0.393364,0.839639,0.710435,1.000000,0.624672,0.563540,-0.443551,0.353464
Curb_weight,0.008820,0.268326,0.522829,0.754115,0.604638,0.649976,0.717590,0.624672,1.000000,0.863851,-0.817538,0.606469
Fuel_capacity,0.086540,0.260053,0.423491,0.663022,0.499907,0.654044,0.656302,0.563540,0.863851,1.000000,-0.801403,0.501308
Fuel_efficiency,-0.016676,-0.334271,-0.492505,-0.733896,-0.610454,-0.496801,-0.599049,-0.443551,-0.817538,-0.801403,1.000000,-0.607111
Power_perf_factor,-0.222253,0.712992,0.897945,0.818204,0.990448,0.258913,0.512122,0.353464,0.606469,0.501308,-0.607111,1.000000

In [124]:
columns=["sale","fouryear","price","enginesize","horsepower","wheelbase","width","length","curbweight","fuelcapital","fuelefficiency","powerfactor"]
modified_dataset.columns=columns
modified_dataset.head()

,sale,fouryear,price,enginesize,horsepower,wheelbase,width,length,curbweight,fuelcapital,fuelefficiency,powerfactor
0,16.919,16.360,21.500,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,39.384,19.875,28.400,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,14.114,18.225,22.799,3.2,225,106.9,70.6,192.0,3.470,17.2,26.0,72.030917
3,8.588,29.725,42.000,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,20.397,22.255,23.990,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0,62.777639

In [126]:
dict_scaler=dict()

for col in columns:
    dict_scaler[col]=StandardScaler().fit(modified_dataset[[col]])

df=modified_dataset.copy()

In [127]:
for col in columns:
    df[col]=dict_scaler[col].transform(X=modified_dataset[[col]])

In [128]:
from sklearn.linear_model import LinearRegression
target="sale"
features=df.columns.to_list()
features.remove(target)
X=df[features].values
Y=df[target].values
# print(X[0:5, :])
# print(Y[0:5,])
robot =LinearRegression().fit(X=X,y=Y)
st.title(body="Predict Car Sale")

2024-02-20 01:18:11.249
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\vanna\AppData\Local\Programs\Python\Python311\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [ ]:
user_input =dict()
for col in features:
    user_input[col]=st.number_input(label=col,value=modified_dataset[col].mean())
df_input=pd.DataFrame(data=[user_input])

df_input=pd.DataFrame(data=[user_input],columns=features)
df_scaled=df_input.copy()
for col in features:
    df_scaled[col]=dict_scaler[col].transform(X=df_input[[col]])
X_test=df_scaled.values
st.dataframe(data=df_input)
st.dataframe(data=df_scaled)
y_pred=robot.predict(X=X_test)
y_pred=dict_scaler[target].inverse_transform(y_pred.reshape(-1, 1))
st.write(y_pred)